<div class="login">
  <h2 class="login__title">Login</h2>
  <h4 class="error-message">
    {{logInError}}
  </h4>
  <form action="/login" method="POST" class="login__form">
    <input type="text" name="username" title="username" placeholder="username" />
    <input type="password" name="password" title="username" placeholder="password" />
    <button type="submit" class="btn">Login</button>
  </form>
</div><!--end log form -->
