<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>AdmitOne</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <header class="header">
    <h1 class="header__title">AdmitOne</h1>
  </header>

  <main class="main">
    {{{body}}}
  </main>

</body>
</html>
